.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Serif Italic";   /*Can be any text*/
  src: local("LiberationSerif-Italic"),
    url("./assets/fonts/LiberationSerif-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Serif";   /*Can be any text*/
  src: local("LiberationSerif-Regular"),
    url("./assets/fonts/LiberationSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";   /*Can be any text*/
  src: local("AlteHaasGroteskBold"),
    url("./assets/fonts/AlteHaasGroteskBold.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";   /*Can be any text*/
  src: local("AlteHaasGroteskRegular"),
    url("./assets/fonts/AlteHaasGroteskRegular.ttf") format("truetype");
}
